.site-login {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: grey;
  padding-bottom: 20%;

  label {
  	font-weight: 300;
  }

}

.login-instruction {
	margin-bottom: 20px;
	text-align: center;
	font-weight: 300;

	  p {
	  opacity: 0.5;
	  }
	  h1 {
	  	font-weight: 300;
	  	font-size: 54px;
	  	letter-spacing: -1px;
	  	color: $bugg-main;
	  }
}

.login-style {
	min-width: 300px;
}


.buggly-button {
	width: 176px;
	height: 56px;
	border: none;
	background-color: $bugg-main;
	border-radius: 2px;
	align-self: center;
	color: white;

	font-size: 18px;
	
	font-weight: 300;

	&:hover {
		background-color: $bugg-accent;
		transition: all .2s ease-in;
	}

}





.field-loginform-rememberme {
	margin-top: -20px;
}

.form-control {
	height: 40px;
}

#login-form {
	display: flex;
	flex-direction: column;
}

#registration-form {
	display: flex;
	flex-direction: column;
}

